<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDnVQuQyf8OBtcZyNK_4lV9Rhx2DupMDEs</string>
	<key>GCM_SENDER_ID</key>
	<string>478696463783</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dee.ProductCatalog</string>
	<key>PROJECT_ID</key>
	<string>productcatalog-80519</string>
	<key>STORAGE_BUCKET</key>
	<string>productcatalog-80519.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:478696463783:ios:f918a07076884667a12a82</string>
</dict>
</plist>